.venv/
__pycache__/
.vscode/
env/
.ipynb_checkpoints/

# Local dev sandbox (not pushed upstream)
climate-dt/polytope-explorer/dev/


# Jupyter Book configs and TOC files
_config.yaml
_toc.yaml
_build/

climate-dt/explorer/data/
extremes-dt/data/
climate-dt/data/
on-demand-extremes-dt/data/