pre-commit
pytest
pytest-timeout
nbformat
nbclient
lxml
pydantic
requests
python-dotenv
earthkit
covjsonkit
xgboost
scikit-learn
polytope-client
earthkit-geo
ipykernel
healpy
kaleido
h3
rasterio
ipykernel
rioxarray