covjsonkit
earthkit-plots==0.6.1
earthkit-data==0.19.4
earthkit-geo==0.5.2
earthkit-transforms==0.5.4
earthkit-regrid==0.5.1
h3
healpy
kaleido==0.2.1
lxml
nbclient
nbformat
polytope-client
pydantic
python-dotenv
rasterio>=1.3,<1.5
requests
rioxarray
scikit-learn
xgboost
conflator
matplotlib
numpy
xarray
pandas
netcdf4
ipykernel
cartopy
zarr>=2.18,<3
numcodecs<0.16