earthkit-data==0.14.1
earthkit-plots==0.2.8
earthkit-transforms==0.3.4.1
earthkit-regrid==0.4.0
earthkit-plots-default-styles==0.0.1
covjsonkit
polytope-client
earthkit-geo
ipykernel
nbformat
healpy
kaleido
