covjsonkit
earthkit==0.13.2
earthkit-geo
h3
healpy
kaleido
lxml
nbclient
nbformat
polytope-client
pydantic
python-dotenv
rasterio
requests
rioxarray
scikit-learn
xgboost
conflator
matplotlib
numpy
xarray
pandas
netcdf4
ipykernel
cartopy
zarr>=2.18,<3
numcodecs<0.16